@font-face {
    font-family: "BigelowRules";
    src: url(fonts/BigelowRules-Regular.ttf);
}
body{
    background-image:url(images/pan.jpg);
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
    border-radius: 30px;
    color:rgb(253, 248, 241);
    
    background-color: black;
    

}
h1{
    font-family: BigelowRules;
}
header{
    
    font-size: 4vw;
    text-align: center;
    margin: -30px;
}
body>div{
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 30px;
    margin: 10vw;
}
nav{
    display: flex;
}
nav div{
    background-color: rgb(2, 110, 131);
    width: 200px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    flex-grow: 1;
    margin: 10px 10px 60px 10px;
    cursor: pointer;
}
.best{
    background-color: rgba(0,0,0,0.6);
    border: 2px solid rgba(2, 110, 131, 0.538);
    border-radius: 20px;
    padding: 10px;
}
#pans_labyrinth{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto 30vh;
   
}
.cover{
    grid-column: 5/span 2;
    grid-row: 1;
    background-color: rgb(26, 63, 63);
    border-radius: 20px 20px 0 0;
    justify-self: center; 
    overflow:hidden;
    border: 5px solid rgb(26, 63, 63);
}

.show_hover{
    width: 100%;
}
.album_data{
    
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}
.album_data>div>h1{
    font-size: 5vw;
}
.anecdotes{
    width: 100%;
    grid-column: 1 / span 6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    position: relative;
    right: 4.5%;
    gap: 5%;
}
li{
    list-style: none;
}
.anecdotes>li{
    padding: 5%;
}
.top_right_90{
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(26, 63, 63);
    border-radius: 20px 0px 20px 20px;
}
.empty{
    grid-column: 2;
    grid-row: 1;
}
.bottom_left_90{
    grid-column: 3/span 2;
    grid-row: 1;
    background-color: rgb(26, 63, 63);
    border-radius: 20px 20px 20px 0px;
}
.image_1{
    background-image: url(images/guillermo_del_toro.jpg);
    background-size: cover;
}
.song_list{
    grid-column: 5 / span 2;
    grid-row: 2/3;
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
.side_one{
    background-color: rgb(26, 63, 63);
    width: 50%;
    border-radius: 0 0 0 20px;
}
.side_two{
    background-color: rgb(26, 63, 63);
    width: 50%;
    border-radius:0 0 20px 0;
}
#shape_of_water{
    display: grid;
}