
body{
    color:rgb(253, 248, 241);
    background-color: black;
    margin: 0;
    height: 100vh;
    background-image:url(images/pan.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Barlow Condensed', serif;
}
body>div>div{
    justify-content: center;
    margin: 7vw;
    padding: 2vw;
    border-radius: 20px;
    background-color: rgba(0, 00, 0, 0.5);
}
h1{
    font-family: 'Bigelow Rules', serif;
}
header{
    font-size: 60px;
    margin: -30px -30px -30px 0;
}

/* ------------------------------NAVIGATION----------------------------------- */

.marked{
    border: 2px  white;
    box-shadow: 0 0 15px white;
    box-sizing: border-box;
}
nav{
    display: flex;
    font-size: 20px;
}
nav div{
    background-color: rgba(2, 110, 131, 0.6);
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    flex-grow: 1;
    margin: 10px 10px 60px 10px;
    cursor: pointer;
}
nav div:hover{
    background-color:  rgba(0, 68, 81, 0.7);
}
.marked:hover{
    background-color: rgba(2, 110, 131, 0.6);
}

/* ------------------------------Pan's Labyrinth----------------------------------- */

.best{
    background-color: rgba(0,0,0,0.6);
    border: 2px solid rgba(2, 110, 131, 0.6);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
p{
    font-size: 20px;
}
#pans_labyrinth{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto;
}
.album_data>div+div{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}
#pans_labyrinth>.cover{
    grid-column: 5/span 2;
    grid-row: 1;
    background-color: rgb(26, 63, 63);
    border-radius: 20px 20px 0 0;
    justify-self: center; 
    overflow:hidden;
    border: 5px solid rgb(26, 63, 63);
    box-sizing: border-box;
    position: relative;
}
.show_hover{
    width: 100%;
    z-index: 2;
    object-fit: fill;
}
.show_not_hover:hover{
    opacity: 0;
}
.show_not_hover{
 position:absolute;
 left: 0;
 object-fit: fill;
 z-index: 1;
 width: 100%;
 transition-property:opacity;
 transition-duration: 1s;
}
.album_data{
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    margin: 4%;
}
.album_data>div>h1{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
}
.album_data>div>h2{
    font-size: 27px;
}
.anecdotes{
    width: 1fr;
    grid-column: 1 / span 6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5%;
    min-height: 120px;
    position: relative;
}

.album_data>div>ul{
    list-style: none;
}
.anecdotes>li{
    padding: 5%;
    list-style-type: none;
}
#pans_labyrinth>.anecdotes>.top_right_90{
    grid-column: 1;
    grid-row: 1;
    background-color: #91743a;
    border-radius: 20px 0px 20px 20px;
    color: rgb(26, 63, 63);
}
.empty{
    grid-column: 2;
    grid-row: 1;
}
#pans_labyrinth>.anecdotes>.bottom_left_90{
    grid-column: 3/span 2;
    grid-row: 1;
    background-color: #91743a;
    border-radius: 20px 20px 20px 0px;
    color: rgb(26, 63, 63);
}
#pans_labyrinth>.anecdotes>.bottom_right_90{
    background-color: #91743a;
    border-radius: 20px 20px 0 20px;
    color: rgb(26, 63, 63);
}
#pans_labyrinth>.anecdotes>.image_1{
    background-image: url(images/guillermo_del_toro.jpg);
    background-size: cover;
    background-position: center;
    background-color: #91743a;
}
#pans_labyrinth>.anecdotes>.image_1{
    color: rgba(255, 255, 255, 0.688);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#pans_labyrinth>.song_list{
    grid-column: 5 / span 2;
    grid-row: 2/3;
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
#pans_labyrinth>.song_list>div{
    background-color: rgb(26, 63, 63);
    border-radius: 0 0 0 20px;
    color: #91743a;
    width: 100%;
    padding: 5px;
}
#pans_labyrinth>.song_list>div+div{
    background-color: rgb(26, 63, 63);
    border-radius:0 0 20px 0;
    color: #91743a;
    width: 100%;
    padding: 5px;
}
#pans_labyrinth>.song_list>div>h2{
    margin-bottom: 0;
}
#pans_labyrinth>.song_list>div>ul{
    padding: 8%;
    list-style-type: circle;
    margin-top: 0;
}

/* ------------------------------Shape of Water----------------------------------- */

#shape_of_water{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto;
   margin-top: 3%;
   margin-bottom: 5vw;
}
#shape_of_water>div>p{
    padding-top: 5%;
}
#shape_of_water>.cover{
    grid-column: 5/span 2;
    grid-row: 1;
    background-color: #020D23;
    border-radius: 20px 20px 0 0;
    justify-self: center; 
    overflow:hidden;
    border: 5px solid #020D23;
    box-sizing: border-box;
    position: relative;
}
#shape_of_water>.song_list{
    grid-column: 5 / span 2;
    grid-row: 2/3;
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
#shape_of_water>.song_list>div{
    background-color: #020D23;
    width: 100%;
    border-radius: 0 0 0 20px;
    padding: 5px;
    color: #91743a;
}

#shape_of_water>.song_list>div+div{
    background-color: #020D23;
    width: 100%;
    border-radius:0 0 20px 0;
    padding: 5px;
    color: #91743a;
}
#shape_of_water>.song_list>div>ul{
    padding: 0;
    list-style-type: none;
}
#shape_of_water>.anecdotes{
    color: #020D23;
}
#shape_of_water>.anecdotes>.bottom_left_90{
    background-color: #91743a;
    grid-column: 1/span 2;
    grid-row: 1;
    border-radius: 20px 20px 20px 0;
}
#shape_of_water>.anecdotes>li+li{
    background-color: #91743a;
    grid-column: 3/4;
    grid-row: 1;
    border-radius: 0 20px 20px 20px;
}
#shape_of_water>.anecdotes>.image_1{
    color: rgba(255, 255, 255, 0.688);
    grid-column: 4/span 2;
    grid-row: 1;
    background-image: url(images/shape_of_water_makeup.jpg);
    background-size: cover;
    border-radius: 0 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#shape_of_water>.anecdotes>li+li+li{
    background-color: #91743a;
    grid-column: 6/7;
    grid-row: 1;
    border-radius: 20px 20px 0 20px;
}
#shape_of_water>.song_list>div>ul{
    padding: 8%;
    list-style-type: circle;
    margin-top: 0;
}
/* ------------------------------Font size at 1111----------------------------------- */
@media(max-width:1111px){
    header{
        font-size: 5.4vw;
    }
    nav{
        font-size: 2vw;
    }
    p{
        font-size: 1.9vw;
    }
    .album_data>div+div{
        font-size: 1.9vw;
    }
    .album_data>div>h1{
        font-size: 4.4vw;
    }
    .album_data>div>h2{
        font-size: 2.5vw;
    }
    .song_list{
        font-size: 1.5vw;
    }
    .anecdotes{
        font-size: 1.5vw;
    }
}
/* ------------------------------Font size at 900----------------------------------- */
@media(max-width:900px){
    header{
        font-size: 47.7px;
    }
    nav{
        font-size: 17.5px;
    }
    p{
        font-size: 17px;
    }
    .album_data>div+div{
        font-size: 17px;
    }
    .album_data>div>h1{
        font-size: 39.3px;
    }
    .album_data>div>h2{
        font-size: 22.3px;
    }
    .song_list{
        font-size: 12.9px;
    }
    .anecdotes{
        font-size: 13.4px;
    }
}
/* ------------------------------ Tablet ----------------------------------- */
@media(max-width:800px){
    header{
        text-align: center;
        font-size: 7vw;
    }
    nav{
        font-size: 3vw;
    }
    p{
        font-size: 2.5vw;
    }
    .album_data>div+div{
        font-size: 2.5vw;
    }
    .album_data>div>h1{
        font-size: 6vw;
    }
    .album_data>div>h2{
        font-size: 3vw;
    }
    .song_list{
        font-size: 2vw;
    }
    .anecdotes{
        font-size: 2.5vw;
    }
    .show_not_hover:hover{
        opacity: 1;
    }
    #pans_labyrinth{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    #pans_labyrinth>.cover{
        grid-column: 1/span 3;
        grid-row: 1/span 2;
        border-radius: 20px 0 0 20px;
    }
    #pans_labyrinth>.song_list{
        grid-column: 4 / span 3;
        grid-row: 1/span 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    #pans_labyrinth>.song_list>div{
        grid-column: 1;
        grid-row: 1;
        border-radius: 0 20px 0 0;
    }
    #pans_labyrinth>.song_list>div+div{
        grid-column: 1;
        grid-row: 2;
        border-radius: 0 0 20px 0;
    }
    .album_data{
        grid-column: 1/span 6;
        grid-row: 3;
        margin: 4%;
    }
    .anecdotes{
        width: 1fr;
        grid-column: 1 / span 6;
        grid-row: 4/span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5%;
        min-height: 120px;
        margin-left: -5%;
    }
    #pans_labyrinth>.anecdotes>.top_right_90{
        grid-column: 1/span 2;
        grid-row: 1;
    }
    empty{
        grid-column: 2/span 2;
        grid-row: 1;
    }
    #pans_labyrinth>.anecdotes>.bottom_left_90{
        grid-column: 5/span 3;
        grid-row: 1;
    }
    #pans_labyrinth>.anecdotes>.bottom_right_90{
        grid-column: 5/span 2;
        grid-row: 2;
    }
    #pans_labyrinth>.anecdotes>.image_1{
        grid-column: 3/span 2;
        grid-row: 2;
    }

    #shape_of_water{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    #shape_of_water>.cover{
        grid-column: 1/span 3;
        grid-row: 1/span 2;
        border-radius: 20px 0 0 20px;
    }
    #shape_of_water>.song_list{
        grid-column: 4 / span 3;
        grid-row: 1/span 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    #shape_of_water>.song_list>div{
        grid-column: 1;
        grid-row: 1;
        border-radius: 0 20px 0 0;
    }
    #shape_of_water>.song_list>div+div{
        grid-column: 1;
        grid-row: 2;
        border-radius: 0 0 20px 0;
    }
    #shape_of_water>.anecdotes>.bottom_left_90{
        grid-column: 1/span 3;
        grid-row: 1;
    }
    #shape_of_water>.anecdotes>li+li{
        grid-column: 4/5;
        grid-row: 1;
    }
    #shape_of_water>.anecdotes>.image_1{
        grid-column: 3/span 3;
        grid-row: 2;
    }
    #shape_of_water>.anecdotes>li+li+li{
        grid-column: 6/span 2;
        grid-row: 2;
    }
 
}
/* ------------------------------ Phone ----------------------------------- */
@media(max-width:500px){
    body>div>div{
        margin:0;
        border-radius: 0;
    }
    header{
        font-size: 8vw;
    }
    nav{
        font-size: 4vw;
    }
    p{
        font-size: 4vw;
    }
    .album_data>div+div{
        font-size: 4vw;
    }
    .album_data>div>h1{
        font-size: 10vw;
    }
    .album_data>div>h2{
        font-size: 5vw;
    }
    .song_list{
        font-size: 3vw;
    }
    .anecdotes{
        font-size: 3.5vw;
    }
    .album_data{
        grid-column: 1/span 6;
        grid-row: 4;
        margin: 4%;
    }
    #pans_labyrinth>.cover{
        grid-column: 1/span 6;
        grid-row: 1/span 2;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    #pans_labyrinth>.song_list{
        grid-column: 1/span 6;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 3% 3% 0 0;
    }
    #pans_labyrinth>.song_list>div{
        grid-column: 1;
        grid-row: 1;
        border-radius: 0 0 0 20px;
    }
    #pans_labyrinth>.song_list>div+div{
        grid-column: 2;
        grid-row: 1;
        border-radius: 0 0 20px 0;
    }
    .anecdotes{
        width: 1fr;
        grid-column: 1 / span 6;
        grid-row: 5/span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5%;
        min-height: 120px;
        margin-left: -10%;
    }
    #pans_labyrinth>.anecdotes>.top_right_90{
        grid-column: 1/span 3;
        grid-row: 1;
    }
    empty{
       display: none;
    }
    #pans_labyrinth>.anecdotes>.bottom_left_90{
        grid-column: 4/span 4;
        grid-row: 1;
    }
    #pans_labyrinth>.anecdotes>.bottom_right_90{
        grid-column: 6/span 2;
        grid-row: 2;
    }
    #pans_labyrinth>.anecdotes>.image_1{
        grid-column: 4/span 2;
        grid-row: 2;
    }

    #shape_of_water>.cover{
        grid-column: 1/span 6;
        grid-row: 1/span 2;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    #shape_of_water>.song_list{
        grid-column: 1/span 6;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 3% 3% 0 0;
    }
    #shape_of_water>.song_list>div{
        grid-column: 1;
        grid-row: 1;
        border-radius: 0 0 0 20px;
    }
    #shape_of_water>.song_list>div+div{
        grid-column: 2;
        grid-row: 1;
        border-radius: 0 0 20px 0;
    }
    #shape_of_water>.anecdotes>.bottom_left_90{
        grid-column: 1/span 4;
        grid-row: 1;
    }
    #shape_of_water>.anecdotes>li+li{
        grid-column: 5/span 3;
        grid-row: 1;
    }
    #shape_of_water>.anecdotes>.image_1{
        grid-column: 1/span 4;
        grid-row: 2;
    }
    #shape_of_water>.anecdotes>li+li+li{
        grid-column: 5/span 3;
        grid-row: 2;
    }
}
